.filters-container {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-dropdown {
  padding: 12px 15px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.filter-dropdown:hover {
  border-color: #007bff;
}
